.dnatests h1 {
  margin-bottom: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.dnatests h1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  color: #259499;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  left: 0px;
}

.dnatests h1 a:hover {
  opacity: 0.5;
}

.dnatests h1 a svg {
  margin-right: 7px;
}

.special__images-absolute {
  position: absolute;
  top: 53.84px;
  right: 72px;
}

.special__images-absolute img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.special h2 {
  margin-bottom: 29px;
  padding: 0px 60px;
}

.special ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #202228;
  padding: 0px 60px;
  margin-bottom: 35px;
}

.special li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special li:not(:last-child) {
  margin-right: 25px;
}

.special li img {
  margin-right: 10px;
}

.special__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.special__benefit {
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 44px rgba(155, 179, 179, 0.4);
          box-shadow: 0px 4px 44px rgba(155, 179, 179, 0.4);
  border-radius: 10px;
  padding-top: 62px;
}

.special__benefit p {
  margin: 24px 0px 40px;
  font-weight: 250;
  font-size: 18px;
  line-height: 26px;
  color: #202228;
  max-width: 593px;
  margin-left: 60px;
}

.special__benefit.column1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.special__benefit.column1 ul {
  margin-bottom: 67px;
}

.special__benefit > strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 30px;
  line-height: 22px;
  color: #bdbdbd;
  margin-bottom: 27px;
  margin-left: 60px;
}

.special__benefit > strong span {
  margin-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(205.71deg, #ffa877 -8.68%, #ffe24b 98.97%);
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #ffffff;
  width: 190px;
  min-height: 40px;
}

.special__benefit-position {
  position: absolute;
  left: 63px;
  top: -18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(206.72deg, #66b7b5 -8.69%, #adcf66 118.1%);
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #ffffff;
  width: 122.24px;
  height: 38.6px;
}

.special__inner-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 76px;
  margin-bottom: 59.47px;
}

.special__inner-images img:nth-child(2) {
  margin-left: -8px;
}

.special__inner-images img:nth-child(3) {
  margin-right: 26px;
}

.special__inner-btn {
  min-height: 120px;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e2ebeb9c;
  border-radius: 0px 0px 8px 8px;
}

.special__inner-btn a {
  background: -webkit-gradient(linear, left top, left bottom, from(#62cfcd), to(#41aeac));
  background: linear-gradient(180deg, #62cfcd 0%, #41aeac 100%);
  -webkit-box-shadow: 0px 10px 20px rgba(80, 190, 188, 0.4), inset 0px -3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px rgba(80, 190, 188, 0.4), inset 0px -3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 220px;
  min-height: 60px;
  margin-right: 42px;
}

.special__inner-btn a:hover {
  opacity: 0.5;
}

.special__inner-btn a svg {
  margin-right: 10px;
}

.special__inner-btn strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #259499;
  margin-right: 42px;
}

.special__inner-btn span {
  font-weight: 600;
  font-size: 23.619px;
  line-height: 28px;
  text-transform: uppercase;
  color: #bdbdbd;
  position: relative;
}

.special__inner-btn span:before {
  content: "";
  position: absolute;
  border-top: 2.95238px solid #ce897f;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-5.4deg);
          transform: translate(-50%, -50%) rotate(-5.4deg);
}

.tovar {
  margin: 20px 0px 130px;
}

.tovar h3 {
  margin-bottom: 11px;
}

.tovar h3 a {
  color: #259499;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tovar h3 a:hover {
  opacity: 0.5;
}

.tovar h1.tovar__title {
  color: #202228;
  text-align: center;
  margin-bottom: 27px;
  margin-top: 130px;
}

.tovar__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(330px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.tovar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  padding: 55px 40px 37px 40px;
}

.tovar__item p {
  max-width: 286px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #202228;
  margin-bottom: 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tovar__item > span {
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  color: #bdbdbd;
  margin-bottom: 10px;
}

.tovar__images {
  margin-bottom: 35.39px;
  display: block;
}

.tovar__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.tovar__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tovar__price strong {
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #259499;
  max-width: 125px;
}

.tovar__price span {
  margin-top: 4px;
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #bdbdbd;
}

.tovar__price span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-5.44deg);
          transform: translate(-50%, -50%) rotate(-5.44deg);
  width: 100%;
  border-top: 2px solid #ce897f;
}

.tovar__price button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1.5px solid #259499;
  border-radius: 200px;
  width: 139px;
  min-height: 40px;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #259499;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tovar__price button:hover {
  background-color: #259499;
  color: #fff;
}

.tovar__price button:hover svg path {
  fill: #fff;
}

.tovar__price button svg {
  margin-right: 10px;
}

.consultations h2 {
  padding-left: 60px;
  margin-bottom: 11px;
  line-height: 48px;
}

.consultations ul {
  padding-left: 60px;
  margin-bottom: 35px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.consultations li {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #202228;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consultations li img {
  margin-right: 10px;
}

.consultations li:not(:last-child) {
  margin-bottom: 16px;
}

.consultations__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.consultations__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 44px rgba(155, 179, 179, 0.4);
          box-shadow: 0px 4px 44px rgba(155, 179, 179, 0.4);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 24.98px;
}

.consultations__images {
  text-align: center;
  margin-bottom: 25px;
  padding: 0px 20px;
}

.consultations__inner-btn {
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 20px 60px;
  background: #e2ebeb8a;
  border-radius: 0px 0px 8px 8px;
}

.consultations__inner-btn strong {
  font-weight: 900;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: #259499;
  max-width: 148px;
}

.consultations__inner-btn strong span {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #bdbdbd;
  position: relative;
  margin-top: 3px;
}

.consultations__inner-btn strong span:before {
  content: '';
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-5.44deg);
          transform: translate(-50%, -50%) rotate(-5.44deg);
  border-top: 2px solid #CE897F;
}

.consultations__inner-btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#62cfcd), to(#41aeac));
  background: linear-gradient(180deg, #62cfcd 0%, #41aeac 100%);
  -webkit-box-shadow: 0px 10px 20px rgba(80, 190, 188, 0.4), inset 0px -3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px rgba(80, 190, 188, 0.4), inset 0px -3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 70px;
  font-weight: 900;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 220px;
  height: 60px;
}

.consultations__inner-btn button:hover {
  opacity: 0.5;
}

.consultations__inner-btn button img {
  margin-right: 10px;
}

.dnatests.consultations h1 {
  margin-bottom: 30px;
}

.cards__inner {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 135px 80px 50px;
  width: 1093px;
}

.cards__mini-arrows {
  width: 100px;
  height: 440px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 60px 0px;
  position: relative;
  margin-right: 135px;
}

.cards__swiper-button-prev, .cards__swiper-button-next {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: 1.5px solid #e6eaec;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cards__swiper-button-prev:hover, .cards__swiper-button-next:hover {
  opacity: 0.5;
}

.cards__swiper-button-prev {
  top: 0px;
}

.cards__swiper-button-next {
  bottom: 0px;
}

.cards__swiper-container,
.cards .cardsmini__swiper-container {
  overflow: hidden;
  width: 100%;
}

.cards .cardsmini__swiper-container {
  height: 100%;
}

.cards .cardsmini__swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1.5px solid #e6eaec;
  border-radius: 5px;
}

.cards .cardsmini__swiper-container .swiper-slide.swiper-slide-active {
  border: 1.5px solid #80bf90;
}

.cards__text {
  width: 527px;
  background: #e2ebeb;
  border-radius: 0px 8px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.cards__text strong {
  font-weight: 900;
  font-size: 48px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #259499;
  margin-bottom: 86px;
}

.cards__text button {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cards__text button:hover {
  opacity: 0.5;
}

.cards__text > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#62cfcd), to(#41aeac));
  background: linear-gradient(180deg, #62cfcd 0%, #41aeac 100%);
  border-radius: 70px;
  width: 367px;
  height: 70px;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cards__text > button:hover {
  opacity: 0.5;
}

.cards__text > button img {
  margin-right: 10px;
}

.cards__checkbox-box {
  display: none;
}

.cards [type="checkbox"] {
  padding: 0;
}

.cards__checkbox-title {
  cursor: pointer;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  color: #202228;
  padding-left: 30px;
  margin-bottom: 24px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.cards__checkbox-title:hover {
  opacity: 0.5;
}

.cards__checkbox-title:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #259499;
  border-radius: 5px;
  position: absolute;
  top: 7px;
  left: 0px;
}

.cards__checkbox-title::after {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  position: absolute;
  top: 13px;
  left: 4px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  background-image: url("../images/cards__checkbox.svg");
  background-size: 12px 8px;
}

.cards__checkbox-box:checked + .cards__checkbox-title::after {
  opacity: 1;
}

.cards__value-inner {
  width: 367px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  border-radius: 200px;
  padding: 17px 20px;
  margin-bottom: 20px;
}

.cards__value-inner input {
  width: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8c8c8c;
}

.cards__tab {
  margin-top: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}

.cards__tabs-btn {
  padding: 0px 38px 0px 38px;
  border-bottom: 1px solid #e6eaec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__tabs-items {
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  color: #202228;
  opacity: 0.6;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-bottom: -1px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  cursor: pointer;
}

.cards__tabs-items span {
  padding: 17px 0px;
  display: block;
}

.cards__tabs-items:not(:last-child) {
  padding-right: 57px;
  margin-right: 27px;
  position: relative;
}

.cards__tabs-items:not(:last-child):before {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translate(0%, -50%) rotate(-75deg);
          transform: translate(0%, -50%) rotate(-75deg);
  border-top: 1px solid #e6eaec;
  width: 30px;
}

.cards__tabs-items.active {
  opacity: 1;
}

.cards__tabs-items.active span {
  border-bottom: 3px solid #259499;
}

.cards__tabs-contentitems {
  padding: 45px 50px 45px 50px;
  display: none;
}

.cards__tabs-contentitems.active {
  display: block;
}

.cards__tabs-contentitems p {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #202228;
  margin-bottom: 38px;
  max-width: 1181px;
}

.cards__tabs-contentitems li {
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #202228;
  padding-left: 20px;
  position: relative;
}

.cards__tabs-contentitems li:not(:last-child) {
  margin-bottom: 8px;
}

.cards__tabs-contentitems li:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 10px;
  height: 2px;
  background: #80BF90;
}

.cards h4 {
  margin-bottom: 16px;
}

.cards h5 {
  margin-bottom: 17px;
}
